.flex1 {
    width: 70vw;
    height: 50vh;
    border: 2px solid rgb(214, 180, 180);
    display: flex;
    margin-top: 50px;
    position: relative;
    left: 200px; 
    padding-top: 70px;
    color: red;
}
.task {
    font-size: 35px;
    position: relative;
    top: 110px;
    left: 300px;

}
.list {
    width: 150px;
    height: 200px;
    border: 2px solid rgb(214, 180, 180);
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 3px 3px rgba(98, 96, 96, 0.259);
    margin: 15px;
    padding-top: 20px;
    padding-left: 20px;
}
a {
    text-decoration: none;
    color: red;
}
.add {
   
    width: 22px;
    height: 22px;
    color:rgb(255, 255, 255);
    background-color: rgb(231, 84, 84);
    padding: 5px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    left: 1000px;
    top: 130px;
}

@media (max-width:480px) {
    .flex1 {
        width: 300px;
        height: 450px;
        position: relative;
        left: 0px;
        top: 0px;
        margin: 0px;
        display: flex;
        flex-direction: column;
        
    }  
    .list {
        width: 180px;
        height: 30px;
        overflow: hidden;
        color: rgb(144, 129, 129);
    }
    .task {
        position: relative;
        left: 10px;
        top: 60px;
    }
    .add {
        position: relative;
        top: -500px;
        left: 230px;
    }
    a {
        color: rgb(144, 129, 129);
    }

}